<p id="notice"><%= notice %></p>

<h2><%= @rating.score %></h2>


<%= link_to 'list of beers', beers_path %> |
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
